# Gradio to create the application, see https://pypi.org/project/gradio/

# Pydub to manipulate audio files, see https://pypi.org/project/pydub/

# Numpy to do sientific computing with Python

# Manage http requests, see https://pypi.org/project/requests/
# py-01
