# Gradio to create the application, see https://pypi.org/project/gradio/

# NVIDIA client to use AIEndpoints, see https://pypi.org/project/nvidia-riva-client/, https://github.com/nvidia-riva/python-clients

# Pydub to manipulate audio files, see https://pypi.org/project/pydub/

# Numpy to do sientific computing with Python

# Manage http requests, see https://pypi.org/project/requests/
